header section{
    min-height: 800px;
}
.nodec{
    text-decoration: none;
    color: black;
}
.hover-link {
    cursor: pointer; 
  }

.bigicon{
    font-size: 100px;
}
.cursive{
    font-family: 'Courier New', Courier, monospace; 
    font-family: cursive;
}
.text-dark {
    --bs-text-opacity: 80%;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  }

.greyback{
    background-color: rgb(245, 243, 243);
}
.image-container {
    background-image: url('headway-5QgIuuBxKwM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 40vh; /* Adjust as needed */
    position: relative;
}


.play-button {
    color: white; /* Change the color of the play button */
    cursor: pointer; /* Change the cursor when hovering */
}

.d-flex{
    display: flex;
    justify-content: space-around;
}
.light-text {
    font-weight: lighter;
}
.light-green{
    background-color: rgb(167, 229, 167);
    border-radius:0.25rem;
    border-color: rgb(167, 229, 167);
    transition:background-color 0.3s;
}
.big-mar{
    margin-top: 4em;
}


.bigicon{
    font-size: 50px;
}

.border-green{
    border-style: double;
    border-color: greenyellow;;
}
@media (max-width:1000px){
    nav,section{
        display: none;
    }
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

main {
    flex-grow: 1; /* Takes up remaining space, pushing the footer down */
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("alesia-kazantceva-VWcPlbHglYc-unsplash.jpg") no-repeat center center/cover;
    filter: brightness(30%); /* Darken the background image */
    z-index: 1; /* Make sure it's behind the content */
    padding: 20px;
}
footer .content {
    position: relative;
    z-index: 2; /* Makes sure the content stays above the background */
    padding: 50px; /* Adjust padding as needed */
}

/* Ensure the footer takes the height of its content */
footer {
    position: relative;
    min-height: 300px; /* Adjust height as per your design */
    padding-bottom: 0;
}