header section{
    min-height: 800px;
}
.nodec{
    text-decoration: none;
    color: black;
}
.hover-link {
    cursor: pointer; 
  }

.bigicon{
    font-size: 100px;
}
.cursive{
    font-family: 'Courier New', Courier, monospace; 
    font-family: cursive;
}
.text-dark {
    --bs-text-opacity: 80%;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  }

.greyback{
    background-color: rgb(245, 243, 243);
}
.image-container {
    background-image: url('headway-5QgIuuBxKwM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 40vh; /* Adjust as needed */
    width: 33.33%; /* Similar to col-4, which is 1/3 of the row */
    max-width: 400px; /* Optional: Set a max width to limit how wide it gets */
    position: relative;
}


.play-button {
    color: white; /* Change the color of the play button */
    cursor: pointer; /* Change the cursor when hovering */
}

.d-flex{
    display: flex;
    justify-content: space-around;
}
.light-text {
    font-weight: lighter;
}
.light-green{
    background-color: rgb(167, 229, 167);
    border-radius:0.25rem;
    border-color: rgb(167, 229, 167);
    transition:background-color 0.3s;
}
.big-mar{
    margin-top: 4em;
}

.background-footer {
    position: relative;
    background-image: url('alesia-kazantceva-VWcPlbHglYc-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

/* Dark overlay */
.background-footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity to control darkness */
    z-index: 1;
    padding: 0;
}

.background-footer h3, .background-footer div {
    position: relative;
    padding: 0;
    z-index: 2; /* Ensure content appears above the overlay */
}

.bigicon{
    font-size: 50px;
}
